<mat-toolbar color="primary" class="header">
    <mat-form-field appearance="outline">
        <mat-label>Wybierz użytkownika</mat-label>
        <mat-select [value]="selectedUserId" (selectionChange)="onUserChange($event)">
            <mat-option [value]="">Wybierz osobę</mat-option>
            <mat-option *ngFor="let user of users$ | async" [value]="user.id">
                {{ user.name }} ({{ user.role }})
            </mat-option>
        </mat-select>
    </mat-form-field>

    <span class="spacer"></span>

    <button mat-raised-button color="accent" [disabled]="!(hasUnsavedChanges$ | async)" (click)="onConfirm()">
        Zatwierdź
    </button>
</mat-toolbar>